.carousel-title{
	height:400px;
}

.carousel-title a{
	color: #ffffff;
	font-weight: 600;
}

.carousel-title h1{
	width: 50%;
	float: left;

}

.brand {
  font-family: 'Leckerli One', cursive;
  font-weight: 500;
  font-size: 40px;
  color: #fff;
}

.carousel-title a:hover{
text-decoration: underline;
color: #000;
}


.site-topbar {
background: #4b494f;
padding: 20px 0;
color: #999;
}

.site-main {
padding-top: 59px;
}