<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{APP_NAME}}</title>
    <link href="{{STATIC_URL}}css/template.css" rel="stylesheet">
     <link href="{{STATIC_URL}}css/yarp.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="page">
      <header id="header" class="site-header">
        <nav id="topbar" class="site-topbar visible-lg visible-md">
          <div class="container">
            <div class="row">
              <div class="col-sm-6" style="margin-top: -25px;"><span class="brand text-center" >Yarp</span></div>
              
              {% if LOGGED_IN %}

              <div class="col-sm-6" >
              <a href="{{DASHBOARD_URL}}">Dashboard</a>
              </div>

              {% else %}
              <div class="social-links col-sm-6">
                <a href="index.html#"><i class="fa fa-facebook"></i></a>
                <a href="index.html#"><i class="fa fa-twitter"></i></a>
                <a href="index.html#"><i class="fa fa-google-plus"></i></a>
                <a href="index.html#"><i class="fa fa-pinterest"></i></a>
              </div>

              {% endif %}

            </div>
          </div>
        </nav>

        <!--
        <nav id="navbar" class="site-navbar navbar navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
              </button>
              <h1 class="navbar-brand"><i class="fa fa-power-off"></i> <a href="index.html">Start</a></h1>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
              <ul id="navigation" class="nav navbar-nav navbar-right">
                <li class="active"><a href="index.html#header" class="current">Home</a></li>
                <li><a href="index.html#features">Features</a></li>
                <li><a href="index.html#portfolio">Portfolio</a></li>
                <li><a href="index.html#testimonials">Testimonials</a></li>
                <li><a href="index.html#blog">Blog</a></li>
                <li><a href="index.html#clients">Clients</a></li>
                <li><a href="index.html#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>

        -->


      </header>

      <main id="main" class="site-main">

        <section id="carousel-1" class="carousel slide section-slide" data-ride="carousel">
          <div class="carousel-inner">
           
            <div class="item active" style="background: url({{STATIC_URL}}img/superhero-dreams.jpg) no-repeat center;">
              <div class="container"><img src="{{STATIC_URL}}img/typo-1.png" alt="First slide"></div>
            </div>
            <div class="item" style="background: url({{STATIC_URL}}img/bg-2.jpg) no-repeat center;">
              <div class="container"><img src="{{STATIC_URL}}img/typo-2.png" alt="First slide"></div>
            </div>
            <div class="item" style="background: url({{STATIC_URL}}img/bg-3.jpg) no-repeat center;">
              <div class="container"><img src="{{STATIC_URL}}img/typo-3.png" alt="First slide"></div>
            </div>

            

          </div>
          <a class="left carousel-control" href="#carousel-1" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
          <a class="right carousel-control" href="#carousel-1" data-slide="next"><span class="fa fa-chevron-right"></span></a>
        </section>

        

       

        <section id="blog" class="section section-blog">
          <div class="container">
            
            
            <div class="row">
              <div class="col-md-6">
                <article class="hentry post">
                  <div class="row">
                    <div class="entry-thumbnail col-lg-4 col-md-5 col-sm-4">
                      <a href="index.html#" class="hover-effect">
                        <img src="{{STATIC_URL}}img/blog-1.jpg" alt="" />
                        <span class="overlay"><i class="fa fa-plus"></i></span>
                      </a>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-8">
                      <header class="entry-header">
                        <h2 class="entry-title"><a href="index.html#">Sample blog title</a></h2>
                        <div class="entry-meta">By <a href="index.html#">Jackie Lord</a> in <a href="index.html#">Category</a></div>
                      </header>
                      <div class="entry-content">
                        <p>Pellentesque eleifend amet scelerisque convallis. Aenean eget metus non erat suscipit accumsan.</p>
                        <a href="index.html#" class="more"><span class="btn btn-primary">Continue Reading</span></a>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-md-6">
                <article class="hentry post">
                  <div class="row">
                    <div class="entry-thumbnail col-lg-4 col-md-5 col-sm-4">
                      <a href="index.html#" class="hover-effect">
                        <img src="{{STATIC_URL}}img/blog-2.jpg" alt="" />
                        <span class="overlay"><i class="fa fa-plus"></i></span>
                      </a>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-8">
                      <header class="entry-header">
                        <h2 class="entry-title"><a href="index.html#">Sample blog title</a></h2>
                        <div class="entry-meta">By <a href="index.html#">Jackie Lord</a> in <a href="index.html#">Category</a></div>
                      </header>
                      <div class="entry-content">
                        <p>Pellentesque eleifend amet scelerisque convallis. Aenean eget metus non erat suscipit accumsan.</p>
                        <a href="index.html#" class="more"><span class="btn btn-primary">Continue Reading</span></a>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section>


       

      </main>

     


{% include "footer.html" %}
</div>

  <!--FONTS-->
  <link type='text/css'href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500italic,500,300italic,300' rel='stylesheet'>
  <link type="text/css" href='http://fonts.googleapis.com/css?family=Fugaz+One|Leckerli+One' rel='stylesheet'> 
  
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.isotope.min.js%3Fv=1.5.26"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.singlePageNav.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>
  </body>
</html>