{% if type == 'login' %}
Please enter a correct email and password. Note that both fields are case-sensitive.
{% endif %}

{% if type == 'addpost' %}
Make sure you have added a title and body to your Post. <br />
Also note that a title cannot be more than 60 characters
{% endif %}

{% if type == 'password_change' %}
The passwords you entered are invalid. <br />
Please make sure that you provide your correct old password plus two new matching passwords 
{% endif %}



{% if type == 'signup' %}
Please check that you entered a valid email and password. <br /> 
Note that both fields are case-sensitive.
{% endif %}


{% if type == 'editpost' %}
There was an error editing your post. <br />
Please try again later 
{% endif %}