{% extends "base.html" %}
  {% load custom_filters %}


{% block content %}

      <main id="main" class="site-main">
<section id="blog" class="section section-blog" style="background: #222;">
          <div class="container">
            

            <div class="row  col-lg-12  whats-this">
            <div class="header-description">
              <h1>Yarp is `A federated social web`. <br>When you post something on the web, it should belong to you <br> <a href="{{BASE_URL}}#features">Take back your privacy </a> </h1>
            </div><!-- /header-description -->
          </div>
            
            <div class="row  col-lg-12 text-center search-bar">

    

            						<div class="discover-bar">
            						<form class="form-absolute">
										<div class="col-lg-7">
										<input type="text" name="search" class="input-block-level" placeholder="Discover..." autocomplete="off">
										</div>
										<div class="col-lg-5">
										<select>
											<option>People</option>
											<option>Blogs</option>
										</select>
										</div>
									</form>
									</div>


          
            </div>


          </div>
        </section>

<section id="team" class="section section-center section-hilite section-team loaded">
            <div class="container">
                <h2 class="section-title"><span>People</span></h2>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <img src="http://distilleryimage4.s3.amazonaws.com/78f166dc77a011e3a3ef0e7d4056843c_6.jpg">
                        <h5>Rihanna</h5>
                    </div>
                    
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <img src="http://distilleryimage5.s3.amazonaws.com/7cd1ed40766411e3b2c112112ffff7c9_6.jpg">
                        <h5>Marry</h5>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <img src="http://distilleryimage8.s3.amazonaws.com/f43436ca180b11e39a4922000a1fb37b_6.jpg">
                        <h5>Ronaldo</h5>
                    </div>
                    
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <img src="http://distilleryimage11.s3.amazonaws.com/532c6464798b11e3855a126610d3d793_6.jpg">
                        <h5>Jackie Lord</h5>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <img src="http://distilleryimage0.s3.amazonaws.com/4ed0bf8a742e11e3bb680ee50d64ca74_6.jpg">
                        <h5>David Beckham</h5>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <img src="http://distilleryimage0.s3.amazonaws.com/b8adbd6677f511e3b8cd1227d7fa1b14_6.jpg">
                        <h5>John Doe</h5>
                    </div>
                </div>
            </div>
        </section>




<!--
        <section id="carousel-1" class="carousel slide section-slide" data-ride="carousel">
          <div class="carousel-inner">
           
            <div class="item active" style="background: url({{STATIC_URL}}img/superhero-dreams.jpg) no-repeat center;">
              <div class="container"><img src="{{STATIC_URL}}img/typo-1.png" alt="First slide"></div>
            </div>
            <div class="item" style="background: url({{STATIC_URL}}img/bg-2.jpg) no-repeat center;">
              <div class="container"><img src="{{STATIC_URL}}img/typo-2.png" alt="First slide"></div>
            </div>
            <div class="item" style="background: url({{STATIC_URL}}img/bg-3.jpg) no-repeat center;">
              <div class="container"><img src="{{STATIC_URL}}img/typo-3.png" alt="First slide"></div>
            </div>

            

          </div>
          <a class="left carousel-control" href="#carousel-1" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
          <a class="right carousel-control" href="#carousel-1" data-slide="next"><span class="fa fa-chevron-right"></span></a>
        </section>

-->        

       
        {% include "featured_posts.html" %}

<section id="features" class="section section-center section-hilite section-features loaded">
          <div class="container">
            <h2 class="section-title"><span>How it works?</span></h2>
            <div class="row">

              <div class="col-md-4 col-sm-6">
                <div class="icon-wrap"><img src="images/icon-easel-flat.png" alt=""></div>
                <h4>Download Yarp</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="icon-wrap"><img src="images/icon-comments-flat.png" alt=""></div>
                <h4>Install Yarp on your Server</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="icon-wrap"><img src="images/icon-book-flat.png" alt=""></div>
                <h4>Start Creating and Sharing , You Own Your Data</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
              </div>

            

            </div>
          </div>
        </section>
       

      </main>



{% endblock %}