<!--messages-->
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} notification" >
<button type="button" class="close" data-dismiss="alert">×</button>
{{message}}
</div>
{% endfor %}
{% endif %}


{%if message.success%}
<div class="alert alert-success notification" >
<button type="button" class="close" data-dismiss="alert">×</button>
{{message.message}}
</div>
{%endif%}


{%if message.error%}
<div class="alert alert alert-error notification" >
<button type="button" class="close" data-dismiss="alert">×</button>
{{message.message}}
</div>
{%endif%}


{%if message.info%}
<div class="alert alert alert-info notification" >
<button type="button" class="close" data-dismiss="alert">×</button>
{{message.message}}
</div>
{%endif%}