{% if type == 'password_recover_email' %}
We have sent a link to {{email}},please check your inbox for details on how to recover your password
{% endif %}

{% if type == 'login' %}
You Have Successfully logged in
{% endif %}

{% if type == 'password_recover' %}
You have successfully changed your password details. <br />
You can now log in with your new password
{% endif %}

{% if type == 'password_change' %}
You have successfully changed your password details.
{% endif %}


{% if type == 'addpost' %}
Your Post was successfully Saved. <br />
{% if is_published %}
It has been published, You can check it out <a href='{% url "blogpost" post.slug %}'>here</a> 
{% endif %}
{% endif %}


{% if type == 'editpost' %}
Your Post was successfully Saved. <br />
{% if post.is_published %}
You can check it out <a href='{% url "blogpost" post.slug %}'>here</a> 
{% endif %}
{% endif %}


{% if type == 'deletepost' %}
The Post Was Successfully Removed
{% endif %}


{% if type == 'unpublish' %}
The Post Was Successfully Saved As A Draft
{% endif %}