{% extends "dashboard.html" %}


{% block content %}

<section class="row-fluid">
			<div class="span12">
				<div class="module no-head message">
					<div class="module-body no-padding">
						<div class="module-option">
							<div class="row-fluid">
								<div class="span8">
									<form class="form-absolute">
										<button class="btn btn-icon go-right"><i class="icon-search"></i></button>
										<input type="text" name="search" class="input-block-level" placeholder="Search people..." autocomplete="off">
									</form>
								</div>
								<div class="span4 message-navigation align-right hidden-phone">
									<div class="btn-toolbar">
										<div class=" btn-group">
											<button class="btn"><i class="icon-chevron-left"></i></button>
											<button class="btn"><i class="icon-chevron-right"></i></button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<table class="table table-utilities vertical-top">
							<tbody>
								<tr>
									<td class="cell-avatar">
										<img src="images/samples/avatar-2.jpg" class="avatar img-circle">
									</td>
									<td class="cell-detail">
										<button type="button" class="btn btn-inverse pull-right" data-toggle="collapse" data-target="#people-brief-2"><i class="icon-ellipsis-horizontal"></i></button>
										<h5 class="people-name">Andy Norman <small>@andynorman</small></h5>
										<div class="people-brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
										<div class="muted">
											255 friends, Kuala Lumpur, MY
										</div>
										<div class="people-action">
											<div id="people-brief-2" class="collapse">
												<p>
													<button class="btn btn-primary"><i class="icon-envelope-alt"></i> &nbsp; Message</button>
													<button class="btn btn-success"><i class="icon-phone"></i> &nbsp; Call Mobile</button>
												</p>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td class="cell-avatar">
										<img src="images/samples/avatar-1.jpg" class="avatar img-circle">
									</td>
									<td class="cell-detail">
										<button type="button" class="btn btn-inverse pull-right" data-toggle="collapse" data-target="#people-brief-1"><i class="icon-ellipsis-horizontal"></i></button>
										<h5 class="people-name">Brian Lamb <small>@brianlamb</small></h5>
										<div class="people-brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
										<div class="muted">
											255 friends, Kuala Lumpur, MY
										</div>
										<div class="people-action">
											<div id="people-brief-1" class="collapse">
												<p>
													<button class="btn btn-primary"><i class="icon-envelope-alt"></i> &nbsp; Message</button>
													<button class="btn btn-success"><i class="icon-phone"></i> &nbsp; Call Mobile</button>
												</p>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td class="cell-avatar">
										<img src="images/samples/avatar-3.jpg" class="avatar img-circle">
									</td>
									<td class="cell-detail">
										<button type="button" class="btn btn-inverse pull-right" data-toggle="collapse" data-target="#people-brief-3"><i class="icon-ellipsis-horizontal"></i></button>
										<h5 class="people-name">Clara Jones <small>@clarajones</small></h5>
										<div class="people-brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
										<div class="muted">
											255 friends, Kuala Lumpur, MY
										</div>
										<div class="people-action">
											<div id="people-brief-3" class="collapse">
												<p>
													<button class="btn btn-primary"><i class="icon-envelope-alt"></i> &nbsp; Message</button>
													<button class="btn btn-success"><i class="icon-phone"></i> &nbsp; Call Mobile</button>
												</p>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td class="cell-avatar">
										<img src="images/samples/avatar-4.jpg" class="avatar img-circle">
									</td>
									<td class="cell-detail">
										<button type="button" class="btn btn-inverse pull-right" data-toggle="collapse" data-target="#people-brief-4"><i class="icon-ellipsis-horizontal"></i></button>
										<h5 class="people-name">Darren Hughes <small>@dhughes</small></h5>
										<div class="people-brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
										<div class="muted">
											255 friends, Kuala Lumpur, MY
										</div>
										<div class="people-action">
											<div id="people-brief-4" class="collapse">
												<p>
													<button class="btn btn-primary"><i class="icon-envelope-alt"></i> &nbsp; Message</button>
													<button class="btn btn-success"><i class="icon-phone"></i> &nbsp; Call Mobile</button>
												</p>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td class="cell-avatar">
										<img src="images/samples/avatar-5.jpg" class="avatar img-circle">
									</td>
									<td class="cell-detail">
										<button type="button" class="btn btn-inverse pull-right" data-toggle="collapse" data-target="#people-brief-5"><i class="icon-ellipsis-horizontal"></i></button>
										<h5 class="people-name">Edward Cunningham <small>@edwcunn</small></h5>
										<div class="people-brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
										<div class="muted">
											255 friends, Kuala Lumpur, MY
										</div>
										<div class="people-action">
											<div id="people-brief-5" class="collapse">
												<p>
													<button class="btn btn-primary"><i class="icon-envelope-alt"></i> &nbsp; Message</button>
													<button class="btn btn-success"><i class="icon-phone"></i> &nbsp; Call Mobile</button>
												</p>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td class="cell-avatar">
										<img src="images/samples/avatar-6.jpg" class="avatar img-circle">
									</td>
									<td class="cell-detail">
										<button type="button" class="btn btn-inverse pull-right" data-toggle="collapse" data-target="#people-brief-6"><i class="icon-ellipsis-horizontal"></i></button>
										<h5 class="people-name">Farah Khan <small>@farahkhan</small></h5>
										<div class="people-brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
										<div class="muted">
											255 friends, Kuala Lumpur, MY
										</div>
										<div class="people-action">
											<div id="people-brief-6" class="collapse">
												<p>
													<button class="btn btn-primary"><i class="icon-envelope-alt"></i> &nbsp; Message</button>
													<button class="btn btn-success"><i class="icon-phone"></i> &nbsp; Call Mobile</button>
												</p>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td class="cell-avatar">
										<img src="images/samples/avatar-7.jpg" class="avatar img-circle">
									</td>
									<td class="cell-detail">
										<button type="button" class="btn btn-inverse pull-right" data-toggle="collapse" data-target="#people-brief-7"><i class="icon-ellipsis-horizontal"></i></button>
										<h5 class="people-name">George Best <small>@georgiebest</small></h5>
										<div class="people-brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
										<div class="muted">
											3,255 friends, Kuala Lumpur, MY
										</div>
										<div class="people-action">
											<div id="people-brief-7" class="collapse">
												<p>
													<button class="btn btn-primary"><i class="icon-envelope-alt"></i> &nbsp; Message</button>
													<button class="btn btn-success"><i class="icon-phone"></i> &nbsp; Call Mobile</button>
												</p>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td class="cell-avatar">
										<img src="images/samples/avatar-8.jpg" class="avatar img-circle">
									</td>
									<td class="cell-detail">
										<button type="button" class="btn btn-inverse pull-right" data-toggle="collapse" data-target="#people-brief-8"><i class="icon-ellipsis-horizontal"></i></button>
										<h5 class="people-name">Hanna Lee <small>@hannalee</small></h5>
										<div class="people-brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
										<div class="muted">
											255 friends, Kuala Lumpur, MY
										</div>
										<div class="people-action">
											<div id="people-brief-8" class="collapse">
												<p>
													<button class="btn btn-primary"><i class="icon-envelope-alt"></i> &nbsp; Message</button>
													<button class="btn btn-success"><i class="icon-phone"></i> &nbsp; Call Mobile</button>
												</p>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td class="cell-avatar">
										<img src="images/samples/avatar-9.jpg" class="avatar img-circle">
									</td>
									<td class="cell-detail">
										<button type="button" class="btn btn-inverse pull-right" data-toggle="collapse" data-target="#people-brief-9"><i class="icon-ellipsis-horizontal"></i></button>
										<h5 class="people-name">Park Chu Yong <small>@parkchu</small></h5>
										<div class="people-brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
										<div class="muted">
											255 friends, Kuala Lumpur, MY
										</div>
										<div class="people-action">
											<div id="people-brief-9" class="collapse">
												<p>
													<button class="btn btn-primary"><i class="icon-envelope-alt"></i> &nbsp; Message</button>
													<button class="btn btn-success"><i class="icon-phone"></i> &nbsp; Call Mobile</button>
												</p>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td class="cell-avatar">
										<img src="images/samples/avatar-10.jpg" class="avatar img-circle">
									</td>
									<td class="cell-detail">
										<button type="button" class="btn btn-inverse pull-right" data-toggle="collapse" data-target="#people-brief-10"><i class="icon-ellipsis-horizontal"></i></button>
										<h5 class="people-name">Jeremy Stewart <small>@jeremystwrt</small></h5>
										<div class="people-brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
										<div class="muted">
											255 friends, Kuala Lumpur, MY
										</div>
										<div class="people-action">
											<div id="people-brief-10" class="collapse">
												<p>
													<button class="btn btn-primary"><i class="icon-envelope-alt"></i> &nbsp; Message</button>
													<button class="btn btn-success"><i class="icon-phone"></i> &nbsp; Call Mobile</button>
												</p>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="module-option">
							<div class="row-fluid">
								<div class="span8 hidden-phone">
									<div style="line-height: 30px">
										Displaying <b>10</b> of 4,230 people
									</div>
								</div>
								<div class="span4 message-navigation align-right">
									<div class="btn-toolbar">
										<div class=" btn-group">
											<button class="btn"><i class="icon-chevron-left"></i></button>
											<button class="btn"><i class="icon-chevron-right"></i></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!--/.module-body-->
				</div><!--/.module.message-->
			</div><!--/.span12-->
		</section><!--/.row-fluid-->


{% endblock %}



{% block scripts %}
<!-- AUTOSIZE TEXTAREA -->
<script src='{{STATIC_URL}}dashboard/scripts/autosize/jquery.autosize-min.js'></script>
{% endblock %}