{% extends "dashboard.html" %}


{% block headcontent %}
		<div class="profile-head pull-left" style="overflow: hidden">
			<img src="images/samples/avatar-2.jpg" class="avatar img-radius pull-left" style="margin-right: 25px; width: 100px; border-radius: 4px">
			<div style="overflow:hidden">
				<h2 class="profile-name">Andy Norman</h2>
				<div class="profile-brief muted">
					Front-end Developer & UI Designer
				</div>
				<div class="">
					<a href="page-profile.html#" class="btn btn-primary">
						<i class="icon-plus"></i>
						<span class="visible-desktop">Follow</span>
					</a>
					<a href="page-profile.html#" class="btn btn-success">
						<i class="icon-ok"></i>
						<span class="visible-desktop">Following</span>
					</a>
					<a href="page-profile.html#" class="btn btn-">
						<i class="icon-envelope-alt visible-desktop"></i> 
						Send Message
					</a>
				</div>
			</div>
		</div>
{% endblock %}



{% block content %}

<section class="row-fluid">
			<div class="span8">
				<section class="module no-head feed-composer">
					<div class="module-body">
						<p><textarea rows="2" class="input-block-level autosize-normal" placeholder="Share a status by using this autosize textarea..."></textarea></p>
						<div>
							<button class="btn btn-primary pull-right">Share status</button>
							<a href="page-profile.html#" class="btn btn-smalls">
								<i class="icon-camera shaded"></i>
							</a>
							<a href="page-profile.html#" class="btn btn-smalls">
								<i class="icon-facetime-video shaded"></i>
							</a>
							<a href="page-profile.html#" class="btn btn-smalls">
								<i class="icon-map-marker shaded"></i>
							</a>
						</div>
					</div>
				</section>
				<section class="feed-stream">
						<article class="feed">
							<div class="feed-head">
								<a href="page-profile.html#" class="feed-avatar avatar-link pull-left">
									<img src="images/samples/avatar-1.jpg" class="avatar">
								</a>
								<div class="dropdown pull-right">
									<a class="dropdown-toggle btn" data-toggle="dropdown" href="page-profile.html#"><i class="icon-ellipsis-vertical"></i></a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
										<li><a href="page-profile.html#">First Row</a></li>
										<li><a href="page-profile.html#">Second Row</a></li>
										<li><a href="page-profile.html#">Third Row</a></li>
										<li><a href="page-profile.html#">Fourth Row</a></li>
									</ul>
								</div>
								<div class="feed-author"><b>Brian Lamb</b></div>
								<div class="feed-meta small muted">2 Feb, from Kuala Lumpur, Malaysia</div>
							</div>
							<div class="feed-body">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

								<div class="feed-options" style="margin-top: 10px;">
									<div class="btn-group">
										<a href="page-profile.html#" class="btn btn-small">
											<i class="icon-thumbs-up shaded"></i>
											Like
										</a>
										<a href="page-profile.html#" class="btn btn-small">
											<i class="icon-reply shaded"></i>
											Reply
										</a>
										<a href="page-profile.html#" class="btn btn-small">
											<i class="icon-retweet shaded"></i>
											Repost
										</a>
									</div>
								</div>
							</div>
							<div class="feed-foot">
								<div class="feed-comments">
									<div class="comment">
										<a href="page-profile.html#" class="comment-avatar pull-left">
											<img src="images/samples/avatar-1.jpg" class="avatar">
										</a>
										<div class="comment-content">
											<div class="comment-head">
												<a href="page-profile.html#"><b>Brian Lamb</b></a>
												<small class="muted">2 hours ago</small>
											</div>
											<div class="comment-text">
												Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
											</div>
										</div>
									</div>
									<div class="comment">
										<a href="page-profile.html#" class="comment-avatar pull-left">
											<img src="images/samples/avatar-2.jpg" class="avatar">
										</a>
										<div class="comment-content">
											<div class="comment-head">
												<a href="page-profile.html#"><b>Andy Norman</b></a>
												<small class="muted">2 hours ago</small>
											</div>
											<div class="comment-text">
												Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
											</div>
										</div>
									</div>
									<div class="comment">
										<a href="page-profile.html#" class="comment-avatar pull-left">
											<img src="images/samples/avatar-3.jpg" class="avatar">
										</a>
										<div class="comment-content">
											<div class="comment-head">
												<a href="page-profile.html#"><b>Clara Jones</b></a>
												<small class="muted">2 hours ago</small>
											</div>
											<div class="comment-text">
												Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
											</div>
										</div>
									</div>
								</div>
								<textarea rows="1" class="input-block-level autosize-normal" placeholder="Try this autosize textarea..."></textarea>
							</div>
						</article><!--/.feed-->

						<article class="feed">
							<div class="feed-head">
								<a href="page-profile.html#" class="feed-avatar avatar-link pull-left">
									<img src="images/samples/avatar-2.jpg" class="avatar">
								</a>
								<div class="feed-author"><b>Andy Norman</b> shared a photo</div>
								<div class="feed-meta small muted">2 Feb, from Kuala Lumpur, Malaysia</div>
							</div>
							<div class="feed-body">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
								<div class="feed-attachment">
									<img src="images/samples/image-1.jpg">
								</div>
								<div class="feed-options" style="margin-top: 10px;">
									<div class="btn-group">
										<a href="page-profile.html#" class="btn btn-small">
											<i class="icon-thumbs-up shaded"></i>
											Like
										</a>
										<a href="page-profile.html#" class="btn btn-small">
											<i class="icon-reply shaded"></i>
											Reply
										</a>
										<a href="page-profile.html#" class="btn btn-small">
											<i class="icon-retweet shaded"></i>
											Repost
										</a>
									</div>
								</div>
							</div>
							<div class="feed-foot">
								<textarea rows="1" class="input-block-level autosize-normal" placeholder="Try this autosize textarea..."></textarea>
							</div>
						</article><!--/.feed-->

						<article class="feed">
							<div class="feed-head">
								<a href="page-profile.html#" class="feed-avatar avatar-link pull-left">
									<img src="images/samples/avatar-3.jpg" class="avatar">
								</a>
								<div class="feed-author">
									<b>Clara Jones</b>
									shared a video
								</div>
								<div class="feed-meta small muted">2 Feb, from Kuala Lumpur, Malaysia</div>
							</div>
							<div class="feed-body">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
								<div class="feed-attachment">
									<div class="responsive-video">
										<iframe width="560" height="315" src="http://www.youtube.com/embed/3oem-M2tQU4" frameborder="0" allowfullscreen></iframe>
									</div>
								</div>
								<div class="feed-options" style="margin-top: 10px;">
									<div class="btn-group">
										<a href="page-profile.html#" class="btn btn-small">
											<i class="icon-thumbs-up shaded"></i>
											Like
										</a>
										<a href="page-profile.html#" class="btn btn-small">
											<i class="icon-reply shaded"></i>
											Reply
										</a>
										<a href="page-profile.html#" class="btn btn-small">
											<i class="icon-retweet shaded"></i>
											Repost
										</a>
									</div>
								</div>
							</div>
							<div class="feed-foot">
								<textarea rows="1" class="input-block-level autosize-normal" placeholder="Try this autosize textarea..."></textarea>
							</div>
						</article><!--/.feed-->

						<article class="feed">
							<div class="feed-head">
								<a href="page-profile.html#" class="feed-avatar avatar-link pull-left">
									<img src="images/samples/avatar-4.jpg" class="avatar">
								</a>
								<div class="feed-author"><b>Darren Hugh</b></div>
								<div class="feed-meta small muted">2 Feb, from Kuala Lumpur, Malaysia</div>
							</div>
							<div class="feed-body">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

								<div class="feed-options" style="margin-top: 10px;">
									<div class="btn-group">
										<a href="page-profile.html#" class="btn btn-small">
											<i class="icon-thumbs-up shaded"></i>
											Like
										</a>
										<a href="page-profile.html#" class="btn btn-small">
											<i class="icon-reply shaded"></i>
											Reply
										</a>
										<a href="page-profile.html#" class="btn btn-small">
											<i class="icon-retweet shaded"></i>
											Repost
										</a>
									</div>
								</div>
							</div>
							<div class="feed-foot">
								<textarea rows="1" class="input-block-level autosize-normal" placeholder="Try this autosize textarea..."></textarea>
							</div>
						</article><!--/.feed-->

						<article class="feed">
							<div class="feed-head">
								<a href="page-profile.html#" class="feed-avatar avatar-link pull-left">
									<img src="images/samples/avatar-1.jpg" class="avatar">
								</a>
								<div class="feed-author"><b>Brian Lamb</b></div>
								<div class="feed-meta small muted">2 Feb, from Kuala Lumpur, Malaysia</div>
							</div>
							<div class="feed-body">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

								<div class="feed-options" style="margin-top: 10px;">
									<div class="btn-group">
										<a href="page-profile.html#" class="btn btn-small">
											<i class="icon-thumbs-up shaded"></i>
											Like
										</a>
										<a href="page-profile.html#" class="btn btn-small">
											<i class="icon-reply shaded"></i>
											Reply
										</a>
										<a href="page-profile.html#" class="btn btn-small">
											<i class="icon-retweet shaded"></i>
											Repost
										</a>
									</div>
								</div>
							</div>
							<div class="feed-foot">
								<textarea rows="1" class="input-block-level autosize-normal" placeholder="Try this autosize textarea..."></textarea>
							</div>
						</article><!--/.feed-->
				</section><!--/.feeds-->
			</div><!--/.span7-->
			<div class="span4">
				<section class="module">
					<div class="module-head">
						<b>Location</b>
					</div><!--/.module-head-->
					<div class="module-body">
						<div class="map">
							<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.my/?ie=UTF8&amp;ll=3.139003,101.686855&amp;spn=0.609509,1.056747&amp;t=m&amp;z=11&amp;output=embed"></iframe>
						</div>
						<hr />
						<div class="row-fluid">
							<div class="span7">
								<address>
									<strong>Twitter, Inc.</strong><br>
									795 Folsom Ave, Suite 600<br>
									San Francisco, CA 94107<br>
									<abbr title="Phone">P:</abbr> (123) 456-7890
								</address>
							</div>
							<div class="span5">
								<address>
									<strong>Email</strong><br>
									brianlamb@mail.cc
								</address>
								<address>
									<strong>Phone</strong><br>
									+6 012 345 6789
								</address>
							</div>
						</div>
					</div>
				</section>
				<section class="module">
					<div class="module-head">
						<b>Connection</b>
					</div><!--/.module-head-->
					<div class="module-body no-padding">
						<ul class="module-list">
							<li>
								<p>
									<b>Friends</b>
									-
									<span class="muted">1,235</span>
								</p>
								<div>
									<ul class="thumbs grid-5 grid-tablet-4 grid-mobile-5">
										<li>
											<a href="page-profile.html#" class="thumb">
												<img src="images/samples/avatar-1.jpg" class="avatar" />
											</a>
										</li>
										<li>
											<a href="page-profile.html#" class="thumb">
												<img src="images/samples/avatar-3.jpg" class="avatar" />
											</a>
										</li>
										<li>
											<a href="page-profile.html#" class="thumb">
												<img src="images/samples/avatar-2.jpg" class="avatar" />
											</a>
										</li>
										<li>
											<a href="page-profile.html#" class="thumb">
												<img src="images/samples/avatar-4.jpg" class="avatar" />
											</a>
										</li>
										<li>
											<a href="page-profile.html#" class="thumb">
												<img src="images/samples/avatar-1.jpg" class="avatar" />
											</a>
										</li>
										<li>
											<a href="page-profile.html#" class="thumb">
												<img src="images/samples/avatar-2.jpg" class="avatar" />
											</a>
										</li>
										<li>
											<a href="page-profile.html#" class="thumb">
												<img src="images/samples/avatar-4.jpg" class="avatar" />
											</a>
										</li>
										<li>
											<a href="page-profile.html#" class="thumb">
												<img src="images/samples/avatar-3.jpg" class="avatar" />
											</a>
										</li>
										<li>
											<a href="page-profile.html#" class="thumb">
												<img src="images/samples/avatar-1.jpg" class="avatar" />
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<p>
									<b>Mutual Friends</b>
									-
									<span class="muted">235</span>
								</p>
								<div>
									<ul class="thumbs grid-5 grid-tablet-4 grid-mobile-5">
										<li>
											<a href="page-profile.html#" class="thumb">
												<img src="images/samples/avatar-1.jpg" class="avatar" />
											</a>
										</li>
										<li>
											<a href="page-profile.html#" class="thumb">
												<img src="images/samples/avatar-3.jpg" class="avatar" />
											</a>
										</li>
										<li>
											<a href="page-profile.html#" class="thumb">
												<img src="images/samples/avatar-2.jpg" class="avatar" />
											</a>
										</li>
										<li>
											<a href="page-profile.html#" class="thumb">
												<img src="images/samples/avatar-4.jpg" class="avatar" />
											</a>
										</li>
										<li>
											<a href="page-profile.html#" class="thumb">
												<img src="images/samples/avatar-1.jpg" class="avatar" />
											</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div><!--/.module-body-->
				</section>

				<section class="module">
					<div class="module-head">
						<b>Basic Information</b>
					</div><!--/.module-head-->
					<div class="module-body no-padding">
						<ul class="module-list">
							<li>
								<p><b>Gender</b></p>
								<div>Male</div>
							</li>
							<li>
								<p><b>Looking for</b></p>
								<div>Who are you lookindivfor?</dd>
							</li>
							<li>
								<p><b>Birthday</b></p>
								<div>January 10</div>
							</li>
							<li>
								<p><b>Relationship</b></p>
								<div>Single</div>
							</li>
							<li>
								<p><b>Other Names</b></p>
								<div>Sparky</div>
							</li>
						</ul>
					</div><!--/.module-body-->
				</section>

				<section class="module">
					<div class="module-head">
						<b>Story</b>
					</div><!--/.module-head-->
					<div class="module-body no-padding">
						<ul class="module-list">
							<li>
								<p><b>Tagline</b></p>
								<div>A brief description of you</div>
							</li>
							<li>
								<p><b>Introduction</b></p>
								<div>Put a little about yourself here so people know they've found the correct person.</div>
							</li>
							<li>
								<p><b>Bragging rights</b></p>
								<div>Examples: survived high school, have 3 kids, etc.</div>
							</li>
						</ul>
					</div><!--/.module-body-->
				</section>

				<section class="module">
					<div class="module-head">
						<b>Work</b>
					</div><!--/.module-head-->
					<div class="module-body no-padding">
						<ul class="module-list">
							<li>
								<p><b>Occupation</b></p>
								<div>What do you do?</div>
							</li>
							<li>
								<p><b>Skills</b></p>
								<div>What are your skills?</div>
							</li>
							<li>
								<p><b>Employment</b></p>
								<ol>
									<li>
										<b>Yahooo Inc.</b>
										<div>
											Sr. Front-end Developer & UI Designer. 
										</div>
										<div class="muted">
											2012 - Present
										</div>
									</li>
									<li>
										<b>Google Corp.</b>
										<div>
											Sr. Front-end Developer & UI Designer. 
										</div>
										<div class="muted">
											2010 - 2012
										</div>
									</li>
								</ol>
							</li>
						</ul>
					</div><!--/.module-body-->
				</section>
			</div><!--/.span5-->
		</section><!--/.row-fluid-->


{% endblock %}



{% block scripts %}
<!-- AUTOSIZE TEXTAREA -->
<script src='{{STATIC_URL}}dashboard/scripts/autosize/jquery.autosize-min.js'></script>
{% endblock %}