<!DOCTYPE html>
<html lang="en"><head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{APP_NAME}} Dashboard</title>
	<!-- BOOTSTRAPS -->
	<link type="text/css" href="{{STATIC_URL}}dashboard/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- THEMES -->
	<link type="text/css" href="{{STATIC_URL}}dashboard/css/theme.css" rel="stylesheet">
	<!--ICONS-->
	<link type="text/css" href="{{STATIC_URL}}dashboard/icons/font-awesome/css/font-awesome.css" rel="stylesheet">
	
	<!--JAVASCRIPTS-->
	<script src="{{STATIC_URL}}dashboard/scripts/jquery-1.9.1.min.js"></script>
	<script src="{{STATIC_URL}}dashboard/scripts/jquery-ui-1.10.1.custom.min.js"></script>
	<script src="{{STATIC_URL}}dashboard/bootstrap/js/bootstrap.min.js"></script>


<script type="text/javascript">
STATIC_URL = '{{STATIC_URL}}dashboard/';
</script>

</head>
<body>
	<div class="frame"><div class="sidebar">
<div class="wrapper">

	
	<a class="brand profile" href="#">{{APP_NAME}} Dashboard</a>


	<ul class="nav nav-list">
	
	<li>
	<a href='{% url "dashboard" %}'><i class="icon-text-width"></i>Write</a>
	</li>

	<li>
	<a href='{% url "dashboardposts" %}'><i class="icon-table"></i>Posts</a>
	</li>


	<li>
	<a href='{% url "dashboardanalytics" %}'><i class="icon-bar-chart"></i>Analytics</a>
	</li>

	<!--
		<li class="nav-header">Pages</li>
		<li class="active" >
			<a href="index.html"><i class="icon-dashboard"></i>Dashboard</a>
		</li>
		<!-- <li>
			<a href="activity.html"><i class="icon-bullhorn"></i>Activity</a>
		</li> 
		<li>
			<a href="page-message.html"><i class="icon-inbox"></i>Message<b class="label">6</b></a>
		</li>
		<li>
			<a href="page-people.html"><i class="icon-group"></i>People</a>
		</li>
		<li>
			<a href="page-calendar.html"><i class="icon-calendar"></i>Calendar</a>
		</li>
		<li>
			<a href="page-gallery.html"><i class="icon-picture"></i>Gallery</a>
		</li>
		<li>
			<a href="page-profile.html"><i class="icon-user"></i>Profile</a>
		</li>



		<li class="nav-header">Elements</li>
		<li>
			<a href="element-typography.html"><i class="icon-text-width"></i>Typography</a>
		</li>
		<li>
			<a href="element-layout.html"><i class="icon-desktop"></i>Layout</a>
		</li>
		<li>
			<a href="element-tables.html"><i class="icon-table"></i>Tables</a>
		</li>
		<li>
			<a href="element-form.html"><i class="icon-list-alt"></i>Form</a>
		</li>
		<li>
			<a href="element-buttons.html"><i class="icon-pushpin"></i>Buttons</a>
		</li>
		<li>
			<a href="element-icons.html"><i class="icon-truck"></i>Icons</a>
		</li>
		<li>
			<a href="element-charts.html"><i class="icon-bar-chart"></i>Charts</a>
		</li>



		<li class="nav-header">Extra</li>
		<li>
			<a href="extra-login.html"><i class="icon-key"></i>Login</a>
		</li>


		<li class="nav-header">Bandwidth Transfer</li>
		<li>
			<div class="progress progress-danger small">
				<div class="bar" style="width: 80%;"></div>
			</div>
			<div>19419.94 / 12000 MB</div>
		</li>
		<li class="nav-header">Disk Space Usage</li>
		<li>
			<div class="progress small">
				<div class="bar" style="width: 20%;"></div>
			</div>
			<div>304.44 / 8000 MB</div>
		</li>
		-->
	</ul>
</div>
</div>
<div class="content">

	<div class="navbar navbar-static-tops">
	<div class="navbar-inner">		
		<a href="javascript:void(0);" class="btn pull-left toggle-sidebar hidden-desktop"><i class="icon-reorder"></i></a>
		


		<div class="pull-right span5">
		<a class="pull-right" href='{% url "dashboardlogout" %}'>logout</a>
		</div>
	
	</div>
</div><!--/.navbar -->	
	<div class="content-head">
		<!--
		<ul class="breadcrumb">
			<li><a href="index.html#">Home</a> <span class="divider"><i class="icon-angle-right"></i></span></li>
			<li class="active">Dashboard</li>
		</ul>
		-->

		<div class="span3">
		<h2>{{pagename}}</h2>
		<div class="muted">
			{{pagedesc}}
		</div>
		</div>

		<div class="span7">

			{% include "notifications.html" %}

		</div>
	

	</div>
	<div class="content-body">
	

	{% block content %}



	{% endblock %}


	</div>


	</div><!--/.content-->

</div><!-- /.frame -->

{% block scripts %}
<!-- Extra Scripts -->
{% endblock %}
<!-- THEME -->
<script src="{{STATIC_URL}}dashboard/scripts/theme.js"></script>
<!--FONTS-->
	<link type='text/css'href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500italic,500,300italic,300' rel='stylesheet'>
	<link type="text/css" href='http://fonts.googleapis.com/css?family=Fugaz+One|Leckerli+One' rel='stylesheet'>
</body>
</html>